<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    
    {% if form.errors %}
    <p>Something went wrong...</p>
    {% endif %}

    {% if next %}
    <p>Sorry, Page inaccessible...</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">

        {% csrf_token %}

        <p>Uername: {{ form.username }}</p>
        <p>Password: {{ form.password }}</p>

        <p><input type="submit" value="login"></p>
        <input type="hidden" name="next" value="{{ next }}">


    </form>

</body>
</html>